<h1>Bienvenido a la Clinica "San Andres"  </h1>
<br>
<% if @user.id == 1 %>
<h2>Registros</h2>
 <%= link_to "Registrar Usuario", '/users/new', :method => :get %>
 <br>
 <%= link_to "Registrar Analisis", '/analises/new', :method => :get %>
 <br>
 <%= link_to "Registrar Valores", '/valors/new', :method => :get %>
 <br>
<h2>Listados</h2>
<%= link_to "Listado de Usuarios", '/users', :method => :get %>
 <br>
 <%= link_to "Listado de  Analisis", '/analises', :method => :get %>
 <br>
 <%= link_to "Listado de Valores", '/valors', :method => :get %>
 <br>
<% else %>
<h2>Analisis Realizados</h2>
<table>
  <thead>
    <tr>
      <th>Analisis</th>
      <th>Nombre del Valor</th>
      <th>Rango Max</th>
      <th>Rango Min</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @analisis.each do |analise| %>
      <tr>
     <% if @user.id == analise.user_id %>
        <td><%= analise.nombre %></td>
        <% @values.each do |values| %>
        <% if values.analise_id == analise.id %>
        <td><%= values.nombre %></td>
        <td><%= values.rangoMax %></td>
        <td><%= values.rangoMin %></td>
        <td><%= values.value %></td>
        </tr>
        <th></th>
        <%end%>
        <%end%>
        <%end%>
<% end %>
    <% end %>
  </tbody>
</table>

<br>