<!DOCTYPE html>
<html>
<head>
<%if current_user!= nil%>
<h align="right"> <b>Esta conectado como <%= current_user.cuenta %>....   <%= link_to "Log out", logout_path, :method => :post %></h>
<br></br>
<%end%>
</h1>
  <title>Clinica</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
